/* .Pokemons {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 120px auto;
    height: 100vh;
    width: 100vw;
}
Header {
    grid-column-start: 1;
    grid-column-end: 4;
}
PokemonInfo {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 2;
}
Sidebar {
    grid-column: 4;
    grid-row: 2;
} */